In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e9494e081ca3eb7cfdb26c02efad1b1baefd17a2b3cf680c026de1368ed5f03e
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('spark').getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [4]:
students=spark.sparkContext.textFile('Students.txt')

In [5]:
students.collect()

['Rohan MSIS ME M',
 'Ganavi MSIS ME F',
 'Mohit MSIS ME M',
 'Anand MSIS ME M',
 'Manoj MSIS ME M',
 'Nitya MSIS ME F',
 'Aryan MIT MTech M',
 'Vishnupriya MIT Btech F',
 'Aiden MIT MTech M',
 'Kumar MIT Biotech M']

In [6]:
#number of students from each Institute.
students.map(lambda d:(d.split(' ')[1],1)).reduceByKey(lambda a,b:a+b).collect()

[('MSIS', 6), ('MIT', 4)]

In [7]:
#Number of students enrolled to any program.
students.map(lambda d:(d.split(' ')[2],1)).reduceByKey(lambda a,b:a+b).collect()

[('ME', 6), ('Btech', 1), ('MTech', 2), ('Biotech', 1)]

In [8]:
#Number of ‘boy’ and ‘girl’ students.
students.map(lambda d:(d.split(' ')[3],1)).reduceByKey(lambda a,b:a+b).collect()

[('M', 7), ('F', 3)]

In [9]:
#Number of ‘boy’ and ‘girl’ students from a selected institution
students.filter(lambda d:(d.split(' ')[1]=="MSIS")).map(lambda d:(d.split(' ')[3],1)).reduceByKey(lambda a,b:a+b).collect()

[('M', 4), ('F', 2)]